.skinMain {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.charPos {
  position: absolute;
  top: 18%;
  width: 20%;
  height: 20%;
}

.skinMsg {
  margin-bottom: 1%;
  height: 20%;
  color: #c0c0c0;
  font-size: calc(8px + (12 - 8) * ((100vw - 768px) / (1600 - 768)));
}

.skinScore {
  position: absolute;
  top: 8%;
  width: 80%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.skinInput {
  position: absolute;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skinRowTitle {
  position: absolute;
  margin-top: 10%;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.skinRowPoints {
  position: absolute;
  margin-top: 25%;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.skinRowRadio {
  position: absolute;
  margin-top: 40%;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.skinColButton {
  position: absolute;
  margin-top: 600px;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.titleSkinScore {
  margin-top: 4%;
  background-color: #c0c0c0;
  background-image: linear-gradient(#c0c0c0, #c498cc);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: titleDefaultAnim 2s linear 0s infinite normal both;
  font-family: "Climate Crisis", cursive;
  font-size: calc(24px + (38 - 24) * ((100vw - 768px) / (1600 - 768)));
}

@keyframes titleDefaultAnim {
  0%,
  50%,
  100% {
    animation-timing-function: ease-in-out;
    transform: translateY(-15px);
  }

  25%,
  75% {
    animation-timing-function: ease-in-out;
    transform: translateY(0px);
  }
}
